<% provide(:title, "サインアップ") %>

<div class="row">
<h3>サインアップ</h3>
</div>

<div class="row">
<div class="container">


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "確認用パスワード" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "サインアップ", class: "btn btn-primary" %>
  </div>
<% end %>

</div>
</div>

<div class="row">
<%= render "devise/shared/links" %>
<%= link_to '戻る', photos_path, class: "btn btn-outline-primary" %>

</div>

