<div class="container">
    <h3>このサイトについて</h3>
    
    <div class="container center-jumbotoron">
        <div class="row">
            <div class="col">
                <p>このサイトは写真の投稿を自由にできるサイトです。</p>
            </div>
            
        </div>
        
    </div>
    
    <%= link_to 'トップページに戻る', photos_path, class: "btn btn-outline-primary" %>
</div>