<div class="container">
    <h3>お問い合わせ</h3>
    
    <div class="container center-jumbotoron">
        <div class="row">
            <div class="col">
                <p>お問い合わせはこちらのメールアドレスにお願いします。</p><br>
                <p>example@example.com</p>
            </div>
            
        </div>
        
    </div>
    
    <%= link_to 'トップページに戻る', photos_path, class: "btn btn-outline-primary" %>
</div>