<div class="container">
    <h3>FAQ</h3>
    
    <div class="container jumbotoron">
        

<button class="accordion">登録はどうすればいいいですか？</button>
<div class="panel">
  <p>初めてご利用の方は<%= link_to "サインアップ", new_user_registration_path(@user) %>
よりご登録をお願いします。既にアカウントをお持ちの方は<%= link_to "ログイン", new_user_session_path(@user) %>よりログインをお願いします</p>
</div>



<button class="accordion">パスワードを忘れてしまいました。どうすればいいですか？</button>
<div class="panel">
  <p><%= link_to "パスワードの変更", new_user_password_path(@user) %>よりパスワードの再登録をお願いします</p>
</div>


<button class="accordion">無料で利用できますか？</button>
<div class="panel">
  <p>はいすべて無料で利用できます</p>
</div>
        
    </div>
    
    <%= link_to 'トップページに戻る', photos_path, class: "btn btn-outline-primary" %>
    
</div>