<% provide(:title, "ログイン") %>

<div class="row">
<h3>ログイン</h3>
</div>

<div class="row">
<div class="container">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "パスワードを記憶する" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン", class: "btn btn-primary" %>
  </div>
<% end %>

</div>
</div>

<div class="row">
<%= render "devise/shared/links" %>
<%= link_to '戻る', photos_path, class: "btn btn-outline-primary" %>

</div>


