<% provide(:title, "編集") %>
<h3>画像の編集</h3>
<div class="container ">



     <%= form_for @photo, url: photo_path, html: { multipart: true } do |form| %>
       <div class="field">
       <%= form.label 'タイトル' %>
       <%= form.text_field :title %>
       </div>
       
       <div class="field">
       <%= form.label '画像の設定' %>
       <%= form.file_field :avatar %>
       </div>
       
       <div class="field">
       <%= form.label '画像の説明' %>
       <%= form.text_field :caption %><br>
       </div>
       
       <div class="actions">
       <%= form.submit "画像を作成", class: "btn btn-primary"  %>
       </div>
       
     <% end %>
     
     

<%= link_to '戻る', photos_path, class: "btn btn-outline-primary" %>
</div>