<% provide(:title, "ギャラリー") %>

<div class="container">
<h3>ギャラリー</h3>

<div class="container">
    
<div class="row">
    <% @photos.each do |photo| %>
    
    <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-3">
     
     
     
     <div class="container photo-container"><a href="/photos/<%= photo.id %>">
     <%= image_tag photo.avatar.url(:medium), class:"photo" %>
     </a></div><br>
     
     <div class="btn-group">
 <% if user_signed_in? %>
     
    <%= link_to '編集' , edit_photo_path(photo), class: "btn btn-outline-primary"%>
    <%= link_to '削除', photo_path(photo), method: :delete, data: {confirm: '本当に削除してもよろしいですか？'},class: "btn btn-outline-primary" %>
 <% end %>
 <%= link_to '表示' , photo_path(photo), class: "btn btn-outline-primary" %>
     </div>
     
    </div>
    
    <% end %>
   </div> 
   
<% if user_signed_in? %>
   <%= link_to '新規作成', new_photo_path, class: "btn btn-primary" %>
<% end %>
</div>

</div>
