<% provide(:title, "新規作成") %>


<div class="row">
<h3>新規作成</h3>
</div>

<div class="row">
<div class="container ">




     <%= form_for @photo, url: photos_path, html: { multipart: true } do |form| %>
       
       <div class="field">
       <%= form.label 'タイトル' %><br>
       <%= form.text_field :title %>
       </div>
       
       <div class="field">
       <%= form.label '画像の設定' %><br>
       <%= form.file_field :avatar %>
       </div>
       
       <div class="field">
       <%= form.label '画像の説明' %><br>
       <%= form.text_field :caption %>
       </div>
       
       
       
       <div class="actions">
       <%= form.submit "画像を作成", class: "btn btn-primary"%>
       </div>
       
     <% end %>
     
   </div>
   </div>
   
   <div class="row">
<%= link_to '戻る', photos_path, class: "btn btn-outline-primary" %>

  </div>



