<% provide(:title, "画像の詳細") %>
<h3>画像の詳細</h3>
<div class="container">
    
    <div class="row">
    <%= @photo.title %></div><br>
    
    <div class="row">
    <%= image_tag @photo.avatar.url(:medium) %></div><br>
    <div class="row">
    <%= @photo.caption %></div><br>
    
    <%= @photo.user_id %>
  
<div class="row">
    <div class="btn-group">
<% if user_signed_in? %>
<%= link_to '編集', edit_photo_path, class: "btn btn-outline-primary" %>
<%= link_to '削除', photo_path(@photo), method: :delete, data: {confirm: '本当に削除してもよろしいですか？'},class: "btn btn-outline-primary" %>

<% end %>
<%= link_to '戻る', photos_path, class: "btn btn-outline-primary" %>
    </div>
</div>

</div>
    
    
