@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
.alert-bar {
    margin-top: 60px;
}
.message-wrapper {
    margin-top: 60px;
}


/* header */
#logo {
    float: left;
    margin-right: 10px;
    color: #fff;
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    font-family: cursive;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}


/* body */
.photo-container a {
   opacity: 1;
   transition: .5s ease;
   
}

.photo-container a:hover {
   opacity: 0.5;
   transition: .5s ease;
}

.photo {
    height: 240px;
    width: 280px;
}



/* form */
.field {
    padding-top: 5px;
}
.actions {
    padding-top: 5px;
}

/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}
