<p>こんにちは <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>このメールはあなたのアカウントのメールアドレス変更手続きのためのメールです。 <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>このメールはあなたのアカウントのメールアドレスが変更されたことをお知らせするためのメールです。 <%= @resource.email %>.</p>
<% end %>
