<p>こんにちは <%= @resource.email %>!</p>

<p>あなたのアカウントのパスワードを変更するリクエストが発行されました. 以下のリンクよりパスワードを変更できます.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりが無い場合は、このメールを無視してください.</p>
<p>上記のリンクをクリックしパスワード変更の手続きを完了するまでは、あなたのパスワードが変更されることはありません。</p>
