<p>こんにちは <%= @resource.email %>!</p>

<p>過剰な回数のログイン失敗が続いたため、あなたのアカウントはロックされました。</p>

<p>アカウントを解除するには以下のリンクをクリックしてください:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
