<footer class="footer">
    <nav>
    <ul>
    <li><%= link_to "About",  pages_about_path  %></li>
    <li><%= link_to "Contact", pages_contact_path  %></li>
    <li><%= link_to "FAQ", pages_faq_path  %></li>
     
    </ul>
    </nav>
</footer>