<header class="navbar navbar-fixed-top  navbar-inverse">
    <div class="container">
    <%= link_to "Photo App", root_path, id: "logo"%>    
     
    <nav> 
    <ul class="nav navbar-nav navbar-right">
      
      
      <% if user_signed_in? %>
      
      
          
          <li><%= link_to 'ユーザー情報の編集', edit_user_registration_path   %></li>
      
      
      <li><%= link_to '新規作成', new_photo_path %></li>
      
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% else %>
       <li><%= link_to 'ログイン', new_user_session_path%></li>
      
      <% end %>
      
      <li><%= link_to 'サインアップ', new_user_registration_path%></li>
      
      
    </div>
    </ul>
    </nav> 
    </header>