<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  
  <%= render 'layouts/shim' %>
  </head>

  <body>
    
    
    <%= render 'layouts/header' %>
    
    <div class="container main-wrapper">
       <div class="message-wrapper">
          <% flash.each do |message_type, message|%>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
       </div>
    <%= yield %>
    <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
